@page
@model BootCampWeb.Pages.ProductsModel
@{
}
<link rel="stylesheet" href="~/lib/DataTables/datatables.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Users.css" asp-append-version="true" />

<div class="w-100">
    <div class="d-flex justify-content-end">
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline d-flex">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchString" minlength="3" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    </div>
    <table class="table-car" id="myTable">
        <thead style="background-color:pink;">
            <tr class="text-center">
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>DiscountPercentage</th>
                <th>Rating</th>
                <th>Stock</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Thumbnail</th>
                <th>Images</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <th>@product.Id</th>
                    @* <th><a href="./product/@product?.Id" target="_blank">@product.Title</a></th> *@
                    <th><a asp-page="Product" asp-route-id="@product.Id">@product.Title</a></th>
                    <th>@product.Description</th>
                    <th>@product.Price</th>
                    <th>@product.DiscountPercentage</th>
                    <th>@product.Rating</th>
                    <th>@product.Stock</th>
                    <th>@product.Brand</th>
                    <th>@product.Category</th>
                    <th><img src="/image/@product.Id/@product?.Thumbnail?.Split('/').Last()" class="img-thumbnail" /></th>
                    <th>
                        @foreach (var im in product.Images)
                        {
                            <img src="/image/@product.Id/@im?.Split('/').Last()" class="resize" />
                        }
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/lib/DataTables/datatables.min.js"></script>
    
    <script type="text/javascript">
        let table = new DataTable('#myTable');    
    </script>
}