@page "/product/{id}"
@model BootCampWeb.Pages.ProductModel
@{
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/Product.css" asp-append-version="true" />

<div class="card">
    <img src="/image/@Model.Product?.Id/@Model.Product?.Thumbnail?.Split('/').Last()" style="width:100%">
    <h1>@Model.Product.Title</h1>
    <p class="price">$@Model.Product.Price</p>
    <p>@Model.Product.Description</p>
    <div class="container">
        <ul>
            <li>Discount: @Model.Product.DiscountPercentage</li>
            <li>Rating: @Model.Product.Rating</li>
            <li>Stock: @Model.Product.Stock</li>
            <li>Brand: @Model.Product.Brand</li>
            <li>Category: @Model.Product.Category</li>
        </ul>
    </div>
</div>