@page
@model BootCampWeb.Pages.UsersModel
@{
}
<link rel="stylesheet" href="~/lib/DataTables/datatables.min.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/users.css" asp-append-version="true" />
<div class="text-center">
    <table class="table-car car-table-main" id ="myTable">
        <thead style="background-color:#D988B9">

            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Days from Creation</th>
                <th>Password</th>
                <th>Address Index</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td><a asp-page="UserEdit" asp-route-id="@user.Id">@user.Email</a></td>
                    <td>@user.Age</td>
                    <td>@(user.CreateDate.HasValue ? (DateTime.Now - user.CreateDate.Value).Days : null)</td>
                    <td>@user.Password</td>
                    <td>@user.Address?.Index</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script src="~/lib/DataTables/datatables.min.js"></script>

    <script type="text/javascript">
        let table = new DataTable('#myTable');
    </script>
}